.headerApp{
    width: 650px;
    height: 5.5em;
    margin: 10px 50px 10px 50px;
    display: flex;
    justify-content:flex-start;
    background-color: rgb(126, 153, 180);
    top: 100px;
    border-radius: 10px;
}

h3{
    color: rgb(37, 37, 103);
    font-family: 'Italianno', cursive;
    font-size: 3.5em;
    justify-content: flex;
    margin: 5px 20px;
}

.logoHome{
    position: relative;
    left: 250px;
}